.modal {
    display: flex;
    flex-direction: column;
}

.questionText {
    margin: 15px;
}

.answer {
    margin: 10px 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

.finish {
    align-self: center;
    margin: 20px 0 0 0;
}